@(message: String)

    @main("Aishraj Dahal - Thinker, Programmer") {



        <!-- Header -->
        <header id="header">

                <!-- Logo -->
            <h1 id="logo"><a href="#">Aishraj Dahal</a></h1>

                <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#one">What I Do</a></li>
                    <li><a href="#two">Who I Am</a></li>
                    <li><a href="#work">My Work</a></li>
                </ul>
            </nav>

        </header>

        <!-- Intro -->
        <section id="intro" class="main style1 dark fullscreen">
            <div class="content container small">
                <header>
                    <h2>Hello</h2>
                </header>
                <p>Welcome to <strong>Aishraj Dahal's </strong>homepage. Keep scrolling to know more about me and my work.</p>
                <footer>
                    <a href="#one" class="button style2 down">More</a>
                </footer>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="main style2 right dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>What I Do</h2>
                </header>
                <p>I have been writing computer programs since I was twelve. Right now I do the same for a living. Besides
                developing software  for a livelihood, I have worked on developing Open Source Software as well. Whenever, I'm not spending my free time reading Hacker News, I go trekking, cook awesome food  and travel. </p>

            </div>
            <a href="#two" class="button style2 down anchored">Next</a>
        </section>

        <!-- Two -->
        <section id="two" class="main style2 left dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Who I Am</h2>
                </header>
                <p>I am a full stack software developer currently stationed in Bangalore, India.<br/>
                    I graduated with a Bachelor's degree in Computer Science and Engineering in  2013 from National Institute of Technology Warangal India.<br/>
                    I have previously worked as Google Summer of Code student in 2012, developing Metalink/HTTP support for KDE's KGet Download manager.<br/>
                    In 2011, I worked at the Language Technology Kendra/Kathmandu University Language Labs to develop rule based machine translation for Engilish-Nepali language pair.<br/>
                    In 2009, I was awarded the Duke of Edinburgh's International Award (Gold Standard) for Young People by the Vice President of India.<br/>
                </p>


            </div>
            <a href="#work" class="button style2 down anchored">Next</a>
        </section>

        <!-- Work -->
        <section id="work" class="main style3 primary">
            <div class="content container">
                <header>
                    <h2>My Work</h2>
                </header>
                <p>Will be updating this section soon.</p>

            </div>
        </section>


        <!-- Footer -->
        <footer id="footer">

                <!--
				     Social Icons

				     Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
				-->
            <ul class="actions">
                <li><a href="http://twitter.com/aishrajdahal" class="fa solo fa-twitter"><span>Twitter</span></a></li>
                <li><a href="#" class="fa solo fa-github"><span>Twitter</span></a></li>
                <li><a href="http://in.linkedin.com/in/aishrajdahal/" class="fa solo fa-linkedin"><span>LinkedIn</span></a></li>
            </ul>

                <!-- Menu -->
            <ul class="menu">
                <li>&copy; Aishraj Dahal</li>
            </ul>

        </footer>



    }
